<footer>
	<div class="footer-container">
		<div class="footer-row">
			<div class="footer-col">
				<h3>Giới thiệu</h3>
				<ul>
					<li><a href="#">Về chúng tôi</a></li>
					<li><a href="#">Sản phẩm</a></li>
					<li><a href="#">Khuyến mãi</a></li>
					<li><a href="#">Liên lạc với chúng tôi</a></li>

					<li><a href="#">Giỏ hàng</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h3>Điều khoản</h3>
				<ul>
					<li><a href="#">Điều khoản sử dụng</a></li>
					<li><a href="#">Chính sách bảo mật thông tin</a></li>

					<li><a href="#">Hướng dẫn xuất hóa đơn GTGT</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h3>Liên hệ</h3>
				<div class="footer-contact-info">
					<div class="footer-phone">
						<i class="fa-solid fa-phone"></i>
						<p>0949617948</p>
					</div>
					<div class="footer-email">
						<i class="fa-regular fa-envelope"></i>
						<p>anhkhoaxn11@gmail.com</p>
					</div>
					<div class="footer-location">
						<i class="fa-solid fa-location-dot"></i>
						<p>67 Đinh Bộ Lĩnh, P.26, Q.Bình Thạnh, TP. Hồ Chí Minh</p>
					</div>
					<ul class="footer-social-icons">
						<li><a href="https://www.facebook.com/daithien2004"><i
								class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://www.facebook.com/daithien2004"><i
								class="fab fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<hr />
		</div>
		<div class="footer-copyright">
			<p>© 2014-2022 Công ty cổ phần thương mại dịch vụ Trà Cà Phê VN.
				All rights reserved.</p>
		</div>
	</div>
</footer>